<app-header></app-header>

<div class="view-container" *ngIf="patient">

  <div class="details-container" *ngIf="isBookAppointment">
    <h2 class="view-header" style="font-weight: bold;">Patient Details</h2>
    <div class="div-name">
      ID:<span class="details"><!--display patient_Id-->{{patient?.patient_Id}}</span>
    </div>
    <div class="div-name">
      Name:<span class="name"><!--display patient_name-->{{patient?.patient_name}}</span>
    </div>
    <div class="div-name">
      Gender:<span class="details"><!--display patient_gender-->{{patient?.patient_gender}}</span>
    </div>
    <div class="div-name">
      Date of birth:<span class="details"><!--display patient_dob-->{{patient?.patient_dob}}</span>
    </div>
    <div class="div-name">
      Mobile:<span class="details"><!--display patient_mobile-->{{patient?.patient_mobile}}</span>
    </div>
    <div class="div-name">
      Email:<span class="details"><!--display patient_email-->{{patient?.patient_email}}</span>
    </div>
    <div class="div-name">
      Registered on:<span class="details"><!--display registeredDate-->{{patient?.registeredDate}}</span>
    </div>
    <div class="update">

        <!-- disable the same when clicking on this button -->
        <!-- call bookAppointment method when clicking on this button-->
        <button id="book-appointment" (click)="bookAppointment()" class="btn btn-success book-btn">Book Appointment</button>

        <!-- disable the same when clicking on this button -->
        <!-- call scheduledAppointment method when clicking on this button-->
        <button id="Scheduled-appointment" (click)="scheduledAppointment()" class="btn btn-warning book-btn">Scheduled Appointment</button>
    </div>
  </div>

    <!-- show book appointment form if "Book Appointment" button clicked-->
    <!-- call scheduleAppointment method if form is valid-->
    <form [formGroup]="appointmentForm" (ngSubmit)="scheduleAppointment()" id="form-container" class="form-container" *ngIf="isFormEnabled">
      <h2 class="view-header" style="padding-left: 100px">Book Appointment</h2>
        <div class="form-content">

          <div class="form-content2">
              <div class="form-group ">
                <label class="label-name">
                  Select Disease:<span class="required">*</span>
                </label>
                <div>
                  <select formControlName="selectDisease" id="select-selectDisease" class="text-box select" >
                    <option class="label-content" value="null" disabled="true" >Select disease</option>
                    <!-- display diseases list-->
                    <option *ngFor="let disease of listOfDiseases" [ngValue]="disease" id="option-value" class="label-content">
                      <!-- display diseases here-->{{disease}}</option>
                  </select>
                </div>
                <div *ngIf="(appointmentFormControls.selectDisease.touched) && appointmentForm.selectDisease.errors?.required" id="error-no-selectDisease" class="alert alert-danger error-msg">
                  noselectDisease
                </div>
              </div>

            <div class="form-group ">
              <label class="label-name">
                Priority:<span class="required">*</span>
              </label>
              <div>
                <select formControlName="priority" id="priority" class="text-box select" >
                  <option class="label-content" value="null" disabled="true" >Select priority</option>
                  <option id="normal" class="label-content" value="Normal">Normal</option>
                  <option id="urgent" class="label-content" value="Urgent">Urgent</option>
                </select>
              </div>
              <div *ngIf="(appointmentFormControls.priority.touched) && appointmentForm.priority.errors?.required" id="error-no-priority" class="alert alert-danger error-msg">
                nopriority
              </div>
            </div>

            <div class="form-group">
              <label class="label-name">
                tentativeDate:<span class="required">*</span>
              </label>
              <div >
                <input formControlName="tentativeDate" id="date-input" class="form-control date-input glyphicon glyphicon-calendar" type="date" placeholder="tentativeDate" required min="{{today}}">
              </div>
              <div *ngIf="(appointmentFormControls.tentativeDate.touched) && appointmentForm.tentativeDate.errors?.required" id="error-no-tentativeDate" class="alert alert-danger error-msg">
                notentativeDate
              </div>
            </div>
          </div>
        <div class="form-group">
          <!-- disable button if form not valid -->
          <button type="submit" [disabled]="appointmentForm.invalid" id="submit-btn" class="btn btn-primary submit-btn">Schedule</button>
        </div>
      </div>
    </form>

  <!-- show Scheduled Appointment table if "Scheduled Appointment" button clicked-->
  <div id="table-container" class="table-container" *ngIf="isTableEnabled">
    <h2 class="view-header">Scheduled Appointment</h2>
    <!-- display no records found message if there is no appointment -->
    <div *ngIf="!ScheduledAppointmentResponse" class="no-records">No Records Found</div>
    <table  class="table-class">
      <thead>
        <tr class="table-head">
          <th>Appointment id</th>
          <th>Disease</th>
          <th>Priority</th>
          <th>Tentative date</th>
          <th>Requested on</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <!--display scheduled appointments-->
        <tr id="table-row" *ngFor="let appointments of ScheduledAppointmentResponse">
          <td id="table-id" ><!--display booking_id-->{{appointments.booking_id}}</td>
          <td id="table-disease" class="td-column"><!--display disease-->{{appointments.disease}}</td>
          <td id="table-priority" ><!--display priority-->{{appointments.priority}}</td>
          <td id="table-tentativedate"><!--display tentativeDate-->{{appointments.tentativeDate}}</td>
          <td id="table-requestedOn"><!--display registeredDate-->{{appointments.registeredDate}}</td>
          <td class="column-btn">
            <!-- call cancelAppointment method with selected id when clicking on this button-->
            <button id="user-cancel" (click)="cancelAppointment(appointments.booking_id)" class="btn btn-danger btn-spc">
              <span class="btn-value">Cancel Appointment</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
